/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* ------Custom Scrollbar------ */

::-webkit-scrollbar{
  width: 10px;
  height: 60px;
}

::-webkit-scrollbar-track{
  background-color: #111827;
}

::-webkit-scrollbar-thumb{
  background: rgb(34,197,77);
  background: linear-gradient(180deg, rgba(34,197,77,1) 0%, rgba(65,255,0,1) 100%);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #9652d2;
  cursor: pointer;
}

/* ------Custom Scrollbar------ */